<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/base/base-frame::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Create/Edit JLPT Word</title>
</head>
<body>
<section>
    <form th:action="@{${formAction}}" th:object="${jlptWord}" method="post">
        <div class="container mt-4">
            <div class="example-block mb-2 card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 style="margin-bottom: 0">Add / Edit JLPT Word</h6>
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary" th:text="${submitLabel}">Save</button>
                        <a th:href="@{/jisho}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row g-2 mb-2">
                        <div class="col">
                            <input type="text" th:field="*{kanji}" id="kanji" class="form-control" placeholder="Kanji">
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{kana}" id="kana" class="form-control" placeholder="Kana" required>
                        </div>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col">
                            <select th:field="*{levelId}" class="form-select" id="level" required>
                                <option value="" disabled th:if="*{levelId == null}" selected>Pilih Level</option>
                                <option th:each="entry : ${levels}"
                                        th:value="${entry.key}"
                                        th:text="${entry.value.level}">
                                </option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" th:field="*{romaji}" id="romaji" class="form-control" placeholder="romaji">
                        </div>
                    </div>
                    <div class="row g-2 mb-2">
                        <div class="col">
                            <textarea th:field="*{meaningEn}" id="meaningEn" class="form-control" placeholder="Meaning EN"></textarea>
                        </div>
                        <div class="col">
                            <textarea th:field="*{meaningId}" id="meaningId" class="form-control" placeholder="Meaning ID"></textarea>
                        </div>
                    </div>

                    <!-- POS -->
                    <div class="mb-2">
                        <select th:field="*{pos}" class="form-control" id="posSelect">
                            <option value="">-- Select Part of Speech (POS) --</option>
                            <option th:each="entry : ${posEnums}"
                                    th:value="${entry.key}"
                                    th:text="${#strings.concat(entry.value.name,' - ',entry.value,' - ',entry.value.note)}">
                            </option>
                        </select>
                    </div>

                    <!-- Note -->
                    <div class="mb-2">
                        <textarea th:field="*{note}" id="note" class="form-control" placeholder="Note"></textarea>
                    </div>

                    <!-- Examples -->
                    <div id="examples-container">
                        <div th:if="${jlptWord.examples != null and #lists.size(jlptWord.examples) > 0}">
                            <div th:each="example, stat : *{examples}" class="example-block mb-2 card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <h6>Example</h6>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="removeExample(this)">Remove</button>
                                </div>
                                <div class="card-body">
                                    <input type="hidden" th:field="*{examples[__${stat.index}__].id}">
                                    <input type="hidden" th:field="*{examples[__${stat.index}__].wordId}">
                                    <input type="text" th:field="*{examples[__${stat.index}__].sampleKanji}" placeholder="Sample Kanji" class="form-control mb-1">
                                    <input type="text" th:field="*{examples[__${stat.index}__].sampleNonKanji}" placeholder="Sample Non Kanji" class="form-control mb-1">
                                    <input type="text" th:field="*{examples[__${stat.index}__].meaning}" placeholder="Meaning" class="form-control mb-1">
                                    <input type="text" th:field="*{examples[__${stat.index}__].note}" placeholder="Note" class="form-control mb-1">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" onclick="addExample()" class="btn btn-success">Add Example</button>


                    <!-- Actions -->
                    <div class="d-flex gap-2 mt-3">
                        <button type="submit" class="btn btn-primary" th:text="${submitLabel}">Save</button>
                        <a th:href="@{/jisho}" class="btn btn-secondary">Cancel</a>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript" th:src="@{/js/dynamic-jisho-example.js}"></script>
</section>
</body>
</html>
