table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    position: relative;
}
th {
    background: #f9f9f9;
}

/* Grip/Resizer */
.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    height: 100%;
}
.carousel-control-prev {
    left: -32px; /* tambah minus biar lebih keluar ke kiri */
}

.carousel-control-next {
    right: -32px; /* tambah minus biar lebih keluar ke kanan */
}

.carousel-control-prev,
.carousel-control-next {
    width: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0.5rem;
}

