<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/base/base-frame::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Temporary Tab</title>
</head>
<body>
<section>
    <div class="container mt-4">
        <h2>Add New MainNote</h2>
        <!-- HTML (Thymeleaf + JS) -->
        <form th:action="@{/notes/create}" th:object="${mainNote}" method="post">
            <div class="mb-0">
                <label for="section" class="form-label mb-0">Level</label>
                <select th:field="*{level}" class="form-select" id="level" required>
                    <option th:each="entry : ${levels}"
                            th:value="${entry.key}"
                            th:text="${entry.key}">
                    </option>
                </select>
            </div>
            <div class="mb-0">
                <label for="section" class="form-label mb-0">Section</label>
                <input type="text" th:field="*{section}" class="form-control" id="section" required>
            </div>
            <div class="mb-0">
                <label for="identifier" class="form-label mb-0">Identifier</label>
                <input type="text" th:field="*{identifier}" class="form-control" id="identifier" required>
            </div>
            <div class="mb-0">
                <label for="patternName" class="form-label mb-0">Pattern Name</label>
                <input type="text" th:field="*{patternName}" class="form-control" id="patternName" required>
            </div>
            <div class="mb-0">
                <label for="mainFunction" class="form-label mb-0">Main Function</label>
                <input type="text" th:field="*{mainFunction}" class="form-control" id="mainFunction">
            </div>
            <div class="mb-0">
                <label for="mainUseWhen" class="form-label mb-0">Main Use When</label>
                <input type="text" th:field="*{mainUseWhen}" class="form-control" id="mainUseWhen">
            </div>
            <div class="mb-2">
                <label for="mainNote" class="form-label mb-0">Main Note</label>
                <textarea th:field="*{mainNote}" class="form-control" id="mainNote"></textarea>
            </div>
            <div id="formulas-container"></div>
            <button type="button" onclick="addFormula()" class="btn btn-success">Add Formula</button>

            <button type="submit" class="btn btn-primary">Save</button>
            <a th:href="@{/notes}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    <script type="text/javascript" th:src="@{/js/dynamic-formula-example.js}"></script>
</section>
</body>
</html>