<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/base-frame::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>Temporary Tab</title>
</head>
<body>
<section>
    <!-- Tambahkan ini di list.html -->
    <div th:if="${message}" class="alert alert-success alert-dismissible fade show" role="alert"><span th:text="${message}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="example-block mb-2 card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex gap-2">
                    <form action="/notes/export-dml" method="get" id="exportDmlForm">
                        <button type="submit" class="btn btn-success" form="exportDmlForm"
                                onclick="return confirm('Yakin mau export DML terbaru?');"
                        ><i class="fa fa-file-export"></i></button>
                    </form>
                    <h6 style="margin-top: 10px;">Notes</h6>
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" id="bulkDeleteBtn" class="btn btn-danger" form="bulkDeleteForm" disabled>Delete Selected</button>
                    <a class="btn btn-success" th:href="@{/notes/create}">Add Note</a>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Filter</button>
                </div>
            </div>
        </div>
        <form th:action="@{/notes}" method="get">
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div class="row g-2">
                        <div class="col-md-3">
                            <input type="text" th:field="*{filter.section}" class="form-control" placeholder="Section" id="sectionInput">
                        </div>
                        <div class="col-md-3">
                            <input type="text" th:field="*{filter.mainNote}" class="form-control" placeholder="Note" id="noteInput">
                        </div>
                        <div class="col-md-3">
                            <select th:field="*{filter.levelId}" class="form-control" id="levelSelect">
                                <option value="">-- Select Level --</option>
                                <option th:each="entry : ${levels}"
                                        th:value="${entry.key}"
                                        th:text="${entry.value}">
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <div class="row g-2">
                                <div class="col">
                                    <button type="submit" class="btn btn-primary w-100">Search</button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-secondary w-100" id="buttonClear">Clear</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>


    <!-- Table -->

    <form id="bulkDeleteForm" th:action="@{/notes/bulk-delete}" method="post" >
        <table class="table table-striped" id="resizableTable">
            <thead>
            <tr>
                <th>
                    <div class="form-check form-switch">
                        <input type="checkbox" id="selectAll" class="form-check-input" >
                        <label class="form-check-label" for="selectAll"></label>
                    </div>
                </th>
                <th>Section</th>
                <th>Identifier</th>
                <th>Pattern Name</th>
                <th>Pattern</th>
                <th>Function</th>
                <th>Use When</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note : ${mainNotes.content}">
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input rowCheckbox" type="checkbox" name="ids" th:value="${note.id}" >
                    </div>
                    <div class="dropdown">
                        <a class="btn btn-light" href="#" role="button" th:id="${#strings.concat('dropdownMenuLink',note.id)}" data-bs-toggle="dropdown" aria-expanded="false" style="padding: 8.5px;">
                            <i class="fa fa-bars"></i>
                        </a>
                        <ul class="dropdown-menu" th:aria-labelledby="${#strings.concat('dropdownMenuLink',note.id)}">
                            <li>
                                <a class="dropdown-item" th:href="@{/notes/view/{id}(id=${note.id})}">
                                    <i class="fa fa-info-circle"></i> View
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" th:href="@{/notes/edit/{id}(id=${note.id})}">
                                    <i class="fa fa-edit"></i> Edit
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td><span class="badge bg-secondary" th:text="${#strings.concat(note.level.level,'-',note.section)}"></span></td>
                <td th:text="${note.identifier}"></td>
                <td th:text="${note.patternName}"></td>
                <td>
                    <ul class="list-unstyled">
                        <li th:each="formula : ${note.formulas}">
                            <a tabindex="0" role="button"
                               data-bs-toggle="popover"
                               data-bs-trigger="focus"
                               title="Example"
                               data-bs-container="body"
                               data-bs-html="true"
                               data-bs-custom-class="wide-popover"
                               th:data-bs-content="${
                                 (note.formulas == null or note.formulas.isEmpty()) ?
                                   'Formula belum ditambahkan' :
                                   (
                                     (formula.examples == null or formula.examples.isEmpty()) ?
                                       'Example belum ditambahkan' :
                                       '<ul>' + #strings.arrayJoin(formula.examples.![ '<li>' + sampleKanji + '</li>' ], '') + '</ul>'
                                   )
                               }">
                                <span class="badge bg-primary" th:text="${formula.pattern}"></span>
                            </a>

                        </li>
                    </ul>
                </td>
                <td th:text="${note.mainFunction}"></td>
                <td th:text="${note.mainUseWhen}"></td>
                <td th:text="${note.mainNote}"></td>
<!--                <td style="max-width: 300px; max-height: 200px;">-->
<!--                    <div class="overflow-auto" style="max-height: 200px;">-->
<!--                        <span th:text="${note.mainNote}"></span>-->
<!--                    </div>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </form>


    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${mainNotes.first} ? 'disabled'">
                <a class="page-link" th:href="@{/notes(page=${mainNotes.number - 1}, size=${mainNotes.size}, section=${filter.section}, mainNote=${filter.mainNote}, levelId=${filter.levelId})}">Previous</a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(0, mainNotes.totalPages - 1)}"
                th:classappend="${i == mainNotes.number} ? 'active'">
                <a class="page-link" th:href="@{/notes(page=${i}, size=${mainNotes.size}, section=${filter.section}, mainNote=${filter.mainNote}, levelId=${filter.levelId})}" th:text="${i + 1}">1</a>
            </li>
            <li class="page-item" th:classappend="${mainNotes.last} ? 'disabled'">
                <a class="page-link" th:href="@{/notes(page=${mainNotes.number + 1}, size=${mainNotes.size}, section=${filter.section}, mainNote=${filter.mainNote}, levelId=${filter.levelId})}">Next</a>
            </li>
        </ul>
    </nav>
    <link rel="stylesheet" th:href="@{/css/table-helper.css}">
    <!-- jQuery harus paling dulu -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- DataTables core -->
    <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
    <!-- DataTables Bootstrap 5 integration -->
    <script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap5.min.js"></script>
    <script th:src="@{/js/table-helper.js}"></script>

</section>
</body>

