<!-- HTML -->
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base/base-frame::layout(~{::section})}">
<head>
    <meta charset="UTF-8"/>
    <title>View MainNote</title>
</head>
<body>
<section>
    <div class="example-block mb-2 card container" style="padding: 0;">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="mb-0">View Note
                <span class="badge bg-success" th:text="${#strings.concat('JLPT-',levels[mainNote.levelId]?.level)}"></span>
                <span class="badge bg-primary" th:text="${#strings.concat('SECTION-',mainNote.section)}"></span>
            </h6>
            <a th:href="@{/notes}" class="btn btn-secondary ms-auto">Back</a>
        </div>
        <div class="card-body">
            <table class="table table-bordered mb-2">
                <tbody>
                <tr><td><b>Identifier</b>:</td></tr>
                <tr><td><span th:text="${mainNote.identifier}"></span></td></tr>
                <tr><td><b>Pattern Name</b>:</td></tr>
                <tr><td><span th:text="${mainNote.patternName}"></span></td></tr>
                <tr><td><b>Main Function</b>:</td></tr>
                <tr><td><span th:text="${mainNote.mainFunction}"></span></td></tr>
                <tr><td><b>Main Use When</b>:</td></tr>
                <tr><td><span th:text="${mainNote.mainUseWhen}"></span></td></tr>
                <tr><td><b>Main Note</b>:</td></tr>
                <tr><td><span th:text="${mainNote.mainNote}"></span></td></tr>
                </tbody>
            </table>
        <div id="formulas-container">
            <!-- Loop formulas -->
            <div th:if="${mainNote.formulas != null and #lists.size(mainNote.formulas) > 0}">
                <div th:each="formula, formulaStat : ${mainNote.formulas}" class="formula-block mb-3 card">
                    <div class="card-header">
                        <h5 style="margin-bottom: 0">Formula <span class="badge bg-primary" th:text="${formula.typeForm}"></span></h5>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                            <tr><td style="width: 130px"><b>Pattern:</b></td><td th:text="${formula.pattern}"></td></tr>
                            <tr><td style="width: 130px"><b>Sub Function:</b></td><td th:text="${formula.subFunction}"></td></tr>
                            <tr><td style="width: 130px"><b>Sub Use When:</b></td><td th:text="${formula.subUseWhen}"></td></tr>
                            <tr><td style="width: 130px"><b>Sub Note:</b></td><td th:text="${formula.subNote}"></td></tr>
                            </tbody>
                        </table>
                        <!-- Loop examples -->
                        <div th:if="${formula.examples != null and #lists.size(formula.examples) > 0}">
                            <div th:id="${#strings.concat('exampleCarousel-',formula.id)}" class="carousel slide" data-bs-ride="carousel">

                                <!-- Indicators (titik navigasi bawah) -->
                                <div class="carousel-indicators">
                                    <button th:each="example, stat : ${formula.examples}"
                                            type="button"
                                            th:data-bs-target="${#strings.concat('#exampleCarousel-',formula.id)}"
                                            th:attr="data-bs-slide-to=${stat.index}, aria-current=${stat.index == 0} ? 'true' : null"
                                            th:classappend="${stat.index == 0} ? ' active'">
                                    </button>
                                </div>

                                <!-- Slides -->
                                <div class="carousel-inner">
                                    <div th:each="example, stat : ${formula.examples}"
                                         class="carousel-item"
                                         th:classappend="${stat.index == 0} ? ' active'">

                                        <div class="card example-block mb-2">
                                            <div class="card-header">
                                                <h6>Example [[${stat.index + 1}]]</h6>
                                            </div>
                                            <div class="card-body">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                    <tr><td style="width: 160px" colspan="2">
                                                        <figure>
                                                            <blockquote class="blockquote">
                                                                <p th:text="${example.sampleKanji}"></p>
                                                            </blockquote>
                                                            <figcaption class="blockquote-footer">
                                                                <cite title="Source Title" th:text="${example.sampleNonKanji}"></cite>
                                                            </figcaption>
                                                        </figure>
                                                    </td></tr>
                                                    <tr><td style="width: 160px"><b>Meaning:</b></td><td th:text="${example.meaning}"></td></tr>
                                                    <tr><td style="width: 160px"><b>Note:</b></td><td th:text="${example.note}"></td></tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Controls (panah kiri kanan) -->
                                <button class="carousel-control-prev" type="button" th:data-bs-target="${#strings.concat('#exampleCarousel-',formula.id)}" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left fa-3x text-success"></i>
                                </button>
                                <button class="carousel-control-next" type="button" th:data-bs-target="${#strings.concat('#exampleCarousel-',formula.id)}" data-bs-slide="next">
                                    <i class="fas fa-chevron-right fa-3x text-success"></i>
                                </button>

                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a th:href="@{/notes}" class="btn btn-secondary">Back</a>
    </div>
<!--    <link rel="stylesheet" th:href="@{/css/table-helper.css}">-->
</section>
</body>
</html>