<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)" xmlns="">
<head>
    <title>Main Notes</title>
    <link rel="icon" type="image/svg+xml" th:href="@{/img/icon-tab.svg}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

</head>
<body>
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'notes'} ? 'active'" th:href="@{/notes}">Main Notes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'create-edit'} ? 'active'" th:href="@{/notes/create}">Add Edit Note</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'view'} ? 'active'" href="#">View Note</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:classappend="${activeTab == 'dictionary'} ? 'active'" href="#">Jisho</a>
        </li>
    </ul>
    <div th:replace="${content}"></div>
</body>
</html>